In [90]:
PATH='/home/kirana/Documents/phd/exp3_autoencoder'

In [91]:
DATAPATH='/home/kirana/Documents/final_dissertation_final/experiments/datasets/bookcrossing'

In [92]:
import pandas as pd
import numpy as np
import os
import datetime
import sklearn
import torch

In [93]:
ls {DATAPATH}/*.csv

/home/kirana/Documents/final_dissertation_final/experiments/datasets/bookcrossing/BX-Book-Ratings.csv
/home/kirana/Documents/final_dissertation_final/experiments/datasets/bookcrossing/BX-Books.csv
/home/kirana/Documents/final_dissertation_final/experiments/datasets/bookcrossing/BX-Users.csv

## Read Files

In [94]:
ratings=pd.read_csv(f'{DATAPATH}/BX-Book-Ratings.csv',encoding='latin-1',error_bad_lines=False,sep=";")
print (ratings.head())

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [95]:
ratings.shape, ratings['User-ID'].nunique(),ratings['ISBN'].nunique()

((1149780, 3), 105283, 340556)

In [96]:
ratings.columns=['userId','itemId','rating']

In [97]:
tempdf=ratings[['userId','rating']].groupby('userId').count()
tempdf=tempdf.loc[tempdf['rating']>=20] 
tempdf.shape# Only 7369 users have more than 20 ratings

(7369, 1)

In [98]:
ratings['num_ratings_per_user_gt_20']=ratings['userId'].isin(tempdf.index)

In [99]:
ratings['num_ratings_per_user_gt_20'].value_counts()

True     888884
False    260896
Name: num_ratings_per_user_gt_20, dtype: int64

In [100]:
tempdf=ratings[['itemId','rating']].groupby('itemId').count()
tempdf=tempdf.loc[tempdf['rating']>=200] 
tempdf.shape# Only 195 items have more than 20 ratings

(195, 1)

In [101]:
ratings['num_ratings_per_item_gt_200']=ratings['itemId'].isin(tempdf.index)

In [102]:
ratings['num_ratings_per_item_gt_200'].value_counts()

False    1084639
True       65141
Name: num_ratings_per_item_gt_200, dtype: int64

In [103]:
# Keep only explicit ratings - implicit means he interacted with the book in some way
ratings=ratings.loc[ratings['rating']>0]

In [104]:
ratings.shape, ratings['userId'].nunique(),ratings['itemId'].nunique()

((433671, 5), 77805, 185973)

In [105]:
ratings['flag_clean_considered']=ratings['num_ratings_per_user_gt_20']&ratings['num_ratings_per_item_gt_200']

In [106]:
ratings['flag_clean_considered'].value_counts()

False    418260
True      15411
Name: flag_clean_considered, dtype: int64

In [107]:
items=pd.read_csv (f'{DATAPATH}/BX-Books.csv',encoding='latin-1',error_bad_lines=False,sep=";")
print(items.head())

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            Book-Author Year-Of-Publication                   Publisher  \
0    Mark P. O. Morford                2002     Oxford University Press
1  Richard Bruce Wright                2001       HarperFlamingo Canada
2          Carlo D'Este                1991             HarperPerennial
3      Gina Bari Kolata                1999        Farrar Straus Giroux
4       E. J. W. Barber                1999  W. W. Norton &amp; Company

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

/home/kirana/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [108]:
items.rename({'ISBN':'itemId'},axis=1,inplace=True)

In [109]:
items.head()

,itemId,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [110]:
users=pd.read_csv(f'{DATAPATH}/BX-Users.csv',encoding='latin-1',error_bad_lines=False,sep=";")
print (users.head())

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [111]:
users.rename({'User-ID':'userId'},axis=1,inplace=True)

In [112]:
users.head()

   userId                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [113]:
ratings.shape

(433671, 6)

In [114]:
ratings=pd.merge(ratings,users,on='userId',how='left')

In [115]:
ratings.shape

(433671, 8)

In [116]:
items.columns

Index(['itemId', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
       'Publisher', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [117]:
ratings=pd.merge(ratings,items.iloc[:,:5],on='itemId',how='left')

In [118]:
ratings.shape

(433671, 12)

In [119]:
ratings.head()

,userId,itemId,rating,num_ratings_per_user_gt_20,num_ratings_per_item_gt_200,flag_clean_considered,Location,Age,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,276726,0155061224,5,False,False,False,"seattle, washington, usa",NaN,Rites of Passage,Judith Rae,2001,Heinle
1,276729,052165615X,3,False,False,False,"rijeka, n/a, croatia",16.0,Help!: Level 1,Philip Prowse,1999,Cambridge University Press
2,276729,0521795028,6,False,False,False,"rijeka, n/a, croatia",16.0,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press
3,276736,3257224281,8,False,False,False,"salzburg, salzburg, austria",NaN,NaN,NaN,NaN,NaN
4,276737,0600570967,6,False,False,False,"sydney, new south wales, australia",14.0,NaN,NaN,NaN,NaN

## Random Cross-Validation 90-10 split to compare to papers

In [120]:
from sklearn.model_selection import train_test_split

In [121]:
ratings['rating'].value_counts()

8     103736
10     78610
7      76457
9      67541
5      50974
6      36924
4       8904
3       5996
2       2759
1       1770
Name: rating, dtype: int64

In [122]:
temptrain,tempvalid=train_test_split(ratings,test_size=0.1,train_size=0.9,random_state=11,shuffle=True)

In [123]:
temptrain['random_dstype']='train'
tempvalid['random_dstype']='test'

/home/kirana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/kirana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [124]:
df=pd.concat([temptrain,tempvalid],axis=0)

In [125]:
df.shape

(433671, 13)

In [126]:
df.head()

,userId,itemId,rating,num_ratings_per_user_gt_20,num_ratings_per_item_gt_200,flag_clean_considered,Location,Age,Book-Title,Book-Author,Year-Of-Publication,Publisher,random_dstype
49299,26538,0590010891,10,True,False,False,"rawlins, wyoming, usa",32.0,Star Wars Episode I: The Phantom Menace,Patricia C. Wrede,1999,Scholastic,train
339650,213826,1562764047,7,False,False,False,"university city, missouri, usa",40.0,How the Internet Works (How It Works Series (E...,Preston Gralla,1996,Macmillan Computer Pub,train
358933,227054,0553284789,7,False,False,False,"nampa, idaho, usa",27.0,F Is for Fugitive (Kinsey Millhone Mysteries (...,Sue Grafton,1990,Bantam,train
393023,248656,0380977788,10,True,False,False,"altamonte springs, florida, usa",34.0,Coraline,Neil Gaiman,2002,HarperCollins,train
347702,220091,0425172996,8,True,False,False,"san diego, california, usa",NaN,Vector,Robin Cook,2000,Berkley Publishing Group,train

## Prepare data

In [127]:
user_to_idx={j:i+1 for i, j in enumerate(df['userId'].unique())}
item_to_idx={j:i+1 for i,j in enumerate(df['itemId'].unique())}
idx_to_user={i+1:j for i, j in enumerate(df['userId'].unique())}
idx_to_item={i+1:j for i,j in enumerate(df['itemId'].unique())}

In [128]:
min(user_to_idx.values()),max(user_to_idx.values())

(1, 77805)

In [129]:
df['user_idx']=[user_to_idx.get(i) for i in df['userId']]
df['item_idx']=[item_to_idx.get(i) for i in df['itemId']]

In [130]:
df['dstype_random_train']=np.where(df['random_dstype']=='train',1,0)

In [131]:
df['dstype_random_valid']=np.where(df['random_dstype']!='train',1,0)

In [132]:
location_to_idx={j:i+1 for i, j in enumerate(df['Location'].unique())}
age_to_idx={j:i+1 for i,j in enumerate(df['Age'].unique())}
title_to_idx={j:i+1 for i,j in enumerate(df['Book-Title'].unique())}
author_to_idx={j:i+1 for i,j in enumerate(df['Book-Author'].unique())}
publisher_to_idx={j:i+1 for i,j in enumerate(df['Publisher'].unique())}

In [133]:
min(location_to_idx.values()),max(location_to_idx.values())

(1, 21335)

In [134]:
min(age_to_idx.values()),max(age_to_idx.values())

(1, 137)

In [135]:
min(title_to_idx.values()),max(title_to_idx.values())

(1, 135568)

In [136]:
min(author_to_idx.values()),max(author_to_idx.values())

(1, 62114)

In [137]:
min(publisher_to_idx.values()),max(publisher_to_idx.values())

(1, 11576)

In [138]:
df['location_idx']=[location_to_idx.get(i) for i in df['Location']]
df['age_idx']=[age_to_idx.get(i) for i in df['Age']]
df['title_idx']=[title_to_idx.get(i) for i in df['Book-Title']]
df['author_idx']=[author_to_idx.get(i) for i in df['Book-Author']]
df['publisher_idx']=[publisher_to_idx.get(i) for i in df['Publisher']]

In [139]:
df[['location_idx','age_idx','title_idx','author_idx','publisher_idx']].describe()

,location_idx,age_idx,title_idx,author_idx,publisher_idx
count,433671.000000,305277.000000,433671.000000,433671.000000,433671.000000
mean,2339.073957,26.146248,33212.097143,8712.066484,547.309091
std,3566.518017,17.551060,37679.076098,13960.989723,1401.497881
min,1.000000,1.000000,1.000000,1.000000,1.000000
25%,247.000000,11.000000,2671.500000,254.000000,24.000000
50%,879.000000,26.000000,16735.000000,1880.000000,79.000000
75%,2760.000000,38.000000,54703.500000,10374.000000,351.000000
max,21335.000000,137.000000,135568.000000,62114.000000,11576.000000

In [58]:
df[['location_idx','age_idx','title_idx','author_idx','publisher_idx']].isnull().sum()

location_idx          0
age_idx          128394
title_idx             0
author_idx            0
publisher_idx         0
dtype: int64

In [60]:
df['age_idx'].loc[df['age_idx'].isnull()]=0

/home/kirana/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [61]:
df[['location_idx','age_idx','title_idx','author_idx','publisher_idx']].describe()

,location_idx,age_idx,title_idx,author_idx,publisher_idx
count,433671.000000,433671.000000,433671.000000,433671.000000,433671.000000
mean,2339.073957,18.405307,33212.097143,8712.066484,547.309091
std,3566.518017,18.955606,37679.076098,13960.989723,1401.497881
min,1.000000,0.000000,1.000000,1.000000,1.000000
25%,247.000000,0.000000,2671.500000,254.000000,24.000000
50%,879.000000,13.000000,16735.000000,1880.000000,79.000000
75%,2760.000000,32.000000,54703.500000,10374.000000,351.000000
max,21335.000000,137.000000,135568.000000,62114.000000,11576.000000

In [62]:
df[['location_idx','age_idx','title_idx','author_idx','publisher_idx']].isnull().sum()

location_idx     0
age_idx          0
title_idx        0
author_idx       0
publisher_idx    0
dtype: int64

In [63]:
df[['location_idx','age_idx','title_idx','author_idx','publisher_idx']].dtypes

location_idx       int64
age_idx          float64
title_idx          int64
author_idx         int64
publisher_idx      int64
dtype: object

In [64]:
for myNm in ['location_idx','age_idx','title_idx','author_idx','publisher_idx']:
    df[myNm]=df[myNm].astype(int)

In [65]:
df[['location_idx','age_idx','title_idx','author_idx','publisher_idx']].dtypes

location_idx     int64
age_idx          int64
title_idx        int64
author_idx       int64
publisher_idx    int64
dtype: object

In [66]:
from scipy.sparse import csr_matrix

In [67]:
from scipy.sparse import csr_matrix

def df_to_sm(data, vars_i, vars_j, var_val):
    grpr_i = data.groupby(vars_i).grouper

    idx_i = grpr_i.group_info[0]

    grpr_j = data.groupby(vars_j).grouper

    idx_j = grpr_j.group_info[0]

    data_sm = csr_matrix((data[var_val].values, (idx_i, idx_j)),
                         shape=(grpr_i.ngroups+1, grpr_j.ngroups+1))

    return data_sm, grpr_i, grpr_j

In [68]:
df.head()

,userId,itemId,rating,num_ratings_per_user_gt_20,num_ratings_per_item_gt_200,flag_clean_considered,Location,Age,Book-Title,Book-Author,...,random_dstype,user_idx,item_idx,dstype_random_train,dstype_random_valid,location_idx,age_idx,title_idx,author_idx,publisher_idx
49299,26538,0590010891,10,True,False,False,"rawlins, wyoming, usa",32.0,Star Wars Episode I: The Phantom Menace,Patricia C. Wrede,...,train,1,1,1,0,1,1,1,1,1
339650,213826,1562764047,7,False,False,False,"university city, missouri, usa",40.0,How the Internet Works (How It Works Series (E...,Preston Gralla,...,train,2,2,1,0,2,2,2,2,2
358933,227054,0553284789,7,False,False,False,"nampa, idaho, usa",27.0,F Is for Fugitive (Kinsey Millhone Mysteries (...,Sue Grafton,...,train,3,3,1,0,3,3,3,3,3
393023,248656,0380977788,10,True,False,False,"altamonte springs, florida, usa",34.0,Coraline,Neil Gaiman,...,train,4,4,1,0,4,4,4,4,4
347702,220091,0425172996,8,True,False,False,"san diego, california, usa",NaN,Vector,Robin Cook,...,train,5,5,1,0,5,0,5,5,5

In [69]:
df_ratings,_,_=df_to_sm(df,['user_idx'],['item_idx'],'rating')

In [70]:
type(df_ratings), df_ratings.shape

(scipy.sparse.csr.csr_matrix, (77806, 185974))

In [71]:
pd.__version__

'0.24.2'

In [72]:
df_ratings.shape

(77806, 185974)

In [73]:
dfflagtrain,_,_=df_to_sm(df,['user_idx'],['item_idx'],'dstype_random_train')

In [74]:
dfflagvalid,_,_=df_to_sm(df,['user_idx'],['item_idx'],'dstype_random_valid')

In [75]:
df_ratings.shape,dfflagtrain.shape,dfflagvalid.shape

((77806, 185974), (77806, 185974), (77806, 185974))

In [76]:
df_ratings.shape,dfflagtrain.shape

((77806, 185974), (77806, 185974))

In [77]:
df_train=df_ratings.multiply(dfflagtrain)

In [78]:
df_valid=df_ratings.multiply(dfflagvalid)

In [79]:
import pickle

In [80]:
pickle.dump([df,df_train,df_valid,df,df_ratings,idx_to_user,\
             idx_to_item,item_to_idx,user_to_idx],open(f'{DATAPATH}/reads.pkl','wb'))

In [81]:
len(user_to_idx), len(item_to_idx)

(77805, 185973)

In [82]:
df_ratings,_,_=df_to_sm(df,['item_idx'],['user_idx'],'rating')

In [83]:
type(df_ratings), df_ratings.shape

(scipy.sparse.csr.csr_matrix, (185974, 77806))

In [84]:
dfflagtrain,_,_=df_to_sm(df,['item_idx'],['user_idx'],'dstype_random_train')

In [85]:
dfflagvalid,_,_=df_to_sm(df,['item_idx'],['user_idx'],'dstype_random_valid')

In [86]:
df_ratings.shape,dfflagtrain.shape,dfflagvalid.shape

((185974, 77806), (185974, 77806), (185974, 77806))

In [87]:
df_train=df_ratings.multiply(dfflagtrain)

In [88]:
df_valid=df_ratings.multiply(dfflagvalid)

In [89]:
pickle.dump([df,df_train,df_valid,df,df_ratings,idx_to_user,\
             idx_to_item,item_to_idx,user_to_idx],open(f'{DATAPATH}/itemreads.pkl','wb'))